[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book.git
[submodule "COE-311K-Fall2021"]
	path = COE-311K-Fall2021
	url = git@github.com:prashjha/COE-311K-Fall2021.git
